@import '../../scss/theme';

.menu {
    display: block;
    width: 156px;
    padding: 8px 0px;
    background-color: var(--bgThemeColorPrimary);
    box-shadow: 0 0 10px 0 $box-popover;
    border: 1px solid var(--bgThemeColorAccent);
    border-radius: 4px;
}

.menu-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding: 0 16px;
    height: 32px;
    color: var(--textThemeColor1);
    font-size: 14px;
    margin: 4px 0px;

    &:hover {
        cursor: pointer;
        background-color: darken($color-neutral-700,30);
    }
}

.menu-item > div {
    margin-right: 8px;
    width: 18px;
    height: 18px;
    svg{
        
    color: var(--textThemeColor1);
    }
}

.menu-seperator {
    height: 1px;
    width: calc(100% - 32px);
    position: relative;
    margin: auto;
    background-color: $color-black;
}