@import '../../../scss/theme';


.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;


    border-radius: 4px;
    padding: 10px;

    transition: background-color 0.4s ease-in;

    .icon-large {
        width: 25px;
        height: 25px;
    }
    .icon-medium {
        width: 20px;
        height: 20px;
    }
    .icon-small {
        width: 15px;
        height: 15px;
    }

    &.normal {
    
        &:hover{
            background-color: $color-gray-300;
            cursor: pointer;
        }
    }

    &.contained {
        padding: 0px 10px;
        height: 100%;
    
        background-color: var(--bgThemeColorPrimary);
            cursor: pointer;
            svg {
                color: $color-primary;
            }

    
        &:hover{
            background: $color-gray-300;
            // svg {
            //     color: white;
            // }
        }
    }
}

.icon-container.rounded {
    border-radius: 50%;
}
.icon-container.selected {
    background-color: white;
}