.drag-over-overlay {
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    top: 0;
    left: 0;
    position: absolute;
    opacity: .95;
    padding: 8px;
    transition: all .3s;
    display: block;
}