@import '../../../scss/theme';

.new-group-container {
    width: 320px;
    flex-direction: column;

    p {
        margin-top: 8px;
        font-family: inherit;
        justify-self: flex-start;
        color: $color-primary;
    }

    label {
        font-family: inherit;
        justify-self: flex-start;
        color: $color-primary;
        font-size: medium;
        white-space: nowrap;
    }

    h2 {
        margin-bottom: 4px;
    }
    background-color: var(--bgThemeColorPrimary);
}

.new-group-name {
    outline: none;
    display: block;
    background-color: var(--bgThemeColorSecondary);
    width: 100%;
    border: none;
    box-sizing: border-box;
    padding: 10px 0px;
    color: var(--textThemeColor1);
    font-weight: 500;
    line-height: inherit;
    transition: border 0.3s ease;
    border-bottom: 2px solid var(--hover);
    margin: 8px 0px;
    &:hover,
    &:focus {
    border: none;
      color: var(--textThemeColor1);
      border-bottom: 2px solid $color-primary;
    }
}

.new-group-input {
    outline: none;
    display: block;
    background: var(--bgThemeColorPrimary);
    width: 100%;
    border: 1px;
    border-style: solid;
    border-color: var(--hover);
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px 0px 10px 20px;
    color: black;
    font-weight: 500;
    line-height: inherit;
    transition: 0.3s ease;

    &:hover,
    &:focus {
      color: var(--textThemeColor1);
      border: 1px solid $color-primary;
    }
}

.seperator {
    margin: 10px 0px;
    border-bottom: 1px solid $color-neutral-700;
}

.new-group-member-list, .new-group-search-list{
    width: 100%;
    display: block;
    padding: 8px;
    list-style-type: none;

    li {
        color: $color-neutral-700;
        display: flex;
        width: 100%;
    }
}

.new-group-search-list{
    li {
        cursor: pointer;
    }
}