
.avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: inherit;
}
.avatar.extra-large {
    width: 70px;
    height: 70px;
    img {
        flex-shrink: 0;
        width: 68px;
        height: 68px;
        object-fit: cover;
        background-color: transparent;
    }
}
.avatar.large {
    width: 52px;
    height: 52px;
    img {
        flex-shrink: 0;
        width: 48px;
        height: 48px;
        object-fit: cover;
        background-color: transparent;
    }
}
.avatar.small {
    width: 36px;
    height: 36px;
    img {
        flex-shrink: 0;
        width: 32px;
        height: 32px;
        object-fit: cover;
        background-color: transparent;
    }
}
.avatar.extra-small {
    width: 23px;
    height: 23px;
    img {
        flex-shrink: 0;
        width: 30px !important;
        height: 30px !important; 
        object-fit: cover;
        background-color: transparent;
    }
}
.avatar .notify {
    background: linear-gradient(45deg,#fd267a 20%,#ff6036 20%);
}

.left {
    margin-right: 8px;
}

.right {
    margin-left: 8px;
}

.avatar .in-chat{
    width: 24px;
    height: 24px;
}

.rounded {
    border-radius: 50%;
    background-color: white;
}