@use '../scss/theme';

.flex-container {
    display: flex;
    flex-direction: row nowrap;
    width: 100%;
    height: 100%
}

.nav-tab {
    display: flex;
    height: 100vh;
    width: 410px;
}

.middle-tab {
    padding-top: 4px;
    width: 346px;
    border-right: 1px solid theme.$color-gray-400;
    z-index: 5;
    background-color: #F1F6FB;

    display: flex;
    flex-direction: column;
}


.chat-view {
    flex: 1;
    position: relative;
    overflow: hidden;
    max-height: 100%;
    background-color: #F1F6FB;
}


.icon {
    width: 20px;
    height: auto;
    transition: color 0.4s ease-in-out;
    color: theme.$color-primary;
}

/* Chat Section */

.chat-section-container {
    flex: 1;
    display: flex;
    flex-direction: column;

    height: 100%;
    overflow-y: hidden;
}

.chat-section-error {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: theme.$color-danger;
    box-shadow: theme.$box-regular;
    color: white;
    text-align: center;

    z-index: 999;

    padding: 4px;
    border-radius: 0px 0px 4px 4px;
}

.chat-section-header {
    flex: 0 0 68px;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 4px;
    transition: box-shadow 0.4s ease-in-out;

    &:hover {
        box-shadow: theme.$box-regular;
    }

    margin: 8px 16px 0px 16px;
}

#message-view {
    flex-grow: 1;
    min-height: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.chat-section-chat-view-container {
    height: calc(100% - 64px);
    display: flex;
    flex-direction: column;
    position: relative;
}

.chat-view-container {
    flex: 1 1 auto;
    padding: 0px 10px;
    padding-block-end: 10px;
    padding-block-start: 10px;

}

.virtual-list {
    margin: 0;
    overflow: hidden;
    /*&::-webkit-scrollbar {
       display: none;
    }*/
}
.custom-scrollbar {
    .track-vertical {
        width: 4px;
        color: theme.$color-primary
    }
    &::-webkit-scrollbar {
        display: none;
     }
}

.chat-section-chat-input-container {
    flex: 0 0 60px;
    height: fit-content;
    margin: 0px 16px 16px 16px;
}

.user-phone {
    color: inherit;
    cursor: pointer;
    text-decoration: underline;
}



/* Chat Header */

.chat-header-container {
    flex: 1;
    height: inherit;
    border-radius: 4px;

    padding: 0px 16px;
    display: flex;
    flex-flow: row nowrap;
}

.chat-header-left {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.chat-header-left-body {
    display: flex;
    align-items: center;
    min-width: 200px;
    overflow: hidden;
}

.chat-header-left-body>div {
    height: fit-content;
}

.chat-header-left-sender {
    font-size: 18px;
    color: black;

    display: flex;
    height: fit-content;
    width: fit-content;
}

.chat-header-left-status {
    font-size: 14px;
    display: flex;
    height: fit-content;
    width: fit-content;
}

.chat-header-right {
    width: 150px;
    display: flex;
    align-items: center;
}

.chat-header-right-icon {
    width: 40px;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Chat View */

/* Chat Input */

.chat-input-alert {
    display: flex;
    justify-content: space-between;
}

.message-send-error {
    flex : 1 1 auto;
    transition: all 0.4s ease-in-out;
    border-radius: 0px 4px 0px 0px;
    font-size: 12px;
    font-weight: 500;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    position: relative;
    div {
        padding: 4px 10px;
        width: fit-content;
        background-color: theme.$color-danger;
        color: white;
        margin-right: 4px;
        border-radius: 4px 4px 0px 0px;
    }
}



.chat-input-container {
    background-color: white;
    display: flex;
    align-items: center;

    height: fit-content;

    border-radius: 4px;
    transition: box-shadow 0.4s ease-in-out;

    &:hover {
        box-shadow: theme.$box-regular;
    }
}

.chat-input-container:focus-within {
    box-shadow: theme.$box-regular;
}

#input_line_0 {
    padding-top: 7px;
}

.typing {
    z-index: 100;
    position: relative;
    padding: 4px;
    flex : 1 1 100%;
    border-radius: 0px 4px 0px 0px;
    font-size: 12px;
    font-weight: 500;
    background: transparent;

    div {
        display: inline;
        font-size: small;
        color: theme.$color-secondary;

        div {
            margin-left: 11px;
            display: inline-block;
        }

        span {
            font-size: smaller;
            color: theme.$color-neutral-500;
        }
    }

}


.chat-input-area {
    position: relative;
    padding: 5px;

    display: flex;
    flex-grow: 1;
    overflow-x: hidden;

    position: relative;


    &:focus-within {
        span {
            display: none;
        }
    }
}

.rich-input {
    user-select: text;
    padding: 12px 10px 18px 16px;
    text-shadow: 0 0 0 theme.$color-gray-300;
    box-sizing: border-box;
    min-height: 16px;
    max-height: 182px;
    justify-content: center;
    flex-direction: column;
    line-height: normal;
    font-weight: 400;
    text-align: left;
    font-size: 15px;
    letter-spacing: normal;
    overflow: auto;
    flex: 1 1 auto;
    position: relative;
    word-break: break-word;
    word-wrap: break-word;
    font-family: 'Inter';

    outline: none;
    border: none;

    z-index: 100;

    &:empty:before {
        content: attr(data-text);
        cursor: text;
        background: none;
        color: theme.$color-neutral-500;
        display: block;
        position: absolute;
        padding-top: 2px;
        left: 16px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        pointer-events: none;
    }
}
[contentEditable] {
    -webkit-user-select: text;
    user-select: text;
}




.chat-input-right-panel {
    height: 100%;
    position: relative;
    display: flex;

    align-items: flex-end;
    justify-content: space-around;
}


.chat-input-icon {
    width: 40px;
    height: 100%;

    display: flex;
    justify-content: center;

    align-self: flex-end;
}



/* Welcome Page */
@mixin image($size, $circle: false) {
    width: $size;
    height: $size;

    @if $circle {
        border-radius: $size / 2;
    }
}