@import '../../scss/theme';
.new-key-alert-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 500px;
    a {
        margin-top: 4px;
        font-size: 11px;
        text-decoration: underline;
    }
    span  {
        color: var(--textThemeColor1);
        margin-top: 4px;
    }
    p{
        color: var(--textThemeColor1);
        font-size: small;
    }
}